<!DOCTYPE html>
<html>
<head>
<title>User Management</title>
</head>
<body>

<img src="download.jfif">

<p><a href="Admin.html">HOME</a></p>

<h1>Welcome to Administrator mode</h1>

<img src="download2.jfif">

<h2>Choose the Actions</h2>
                   <ul>
                        <li><a href="reg.html">Add User Details</a></li>
                        <li><a href="index4.html">Display Details</a></li>
                        <li><a href="ModifyUser.html">Update User Details</a></li>
                   </ul>
</body>
</html>