<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<img src="download.jfif">

<p><a href="Main.html">HOME</a></p>

<h1>Welcome to Administrator mode</h1>

<img src="download2.jfif">

<h2>Choose the Actions</h2>
                   <ul>
                        <li><a href="index1.html">Add Details</a></li>
                        <li><a href="index2.html">Display and Delete Details</a></li>
						<li><a href="ModifyTrain.html">Modify Details</a></li>
                        <li><a href="AdminOpt.html">User management</a></li>
                   </ul>
</body>
</html>