<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<img src="download.jfif">

<p><a href="Main.html">HOME</a></p>

<h1>Welcome to User mode</h1>

<img src="download1.jfif">
<h2>Choose the Actions</h2>
                   <ul>
                        <li><a href="index5.html">Reserve Ticket</a></li>
                        <li><a href="showtickets.html">Show Tickets</a></li>
                        <li><a href="logout.html">Logout</a></li>
                   </ul>
            
</body>
</html>